.users {
    margin: 10px 10px 0 0;
}

.users__title {
    flex-grow: 1;
    text-align: left;
    font-weight: bold;
}

.users__title-balance {
    color: #ccc;
    font-weight: bold;
    font-size: 13px;
}

.users__list {
    text-align: left;
}

.users__list-item {
    align-items: center;
    display: flex;
    margin: 10px 0;
}

.users__list-item:hover .users__list-item-adress {
    display: none;
}

.users__list-item:hover .users__list-item-adress--hidden {
    display: inline-block;
}

.users__list-item-adress--hidden {
    display: none;
}

.users__list-item-balance {
    color: firebrick;
    font-size: 13px;
}

.users__list-item-balance--positive {
    color: forestgreen;
}

.users__avatar {
    width: 30px;
    border-radius: 15px;
    margin-right: 10px;
}